<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-playservices-util"
    version="0.0.1">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/wischweh/cordova-plugin-playservices-util.git</repo>
    <issue>https://github.com/wischweh/cordova-plugin-playservices-util/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="PlayservicesUtil" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="PlayservicesUtil">
          <param name="android-package" value="de.ndr.playservices-util.PlayservicesUtilPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/de/ndr/playservices-util/PlayservicesUtilPlugin.java" target-dir="src/de/ndr/playservices-util" />
    </platform>

</plugin>
